@model GucciBazaar.Models.Product

@{
    ViewBag.Title = "Edit Product";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="justify-content:space-between" class="form-container">
        <h2 style="margin-bottom:20px">Edit product</h2>
        @using (Html.BeginForm(actionName: "Edit", controllerName: "Product", routeValues: new { Id = @Model.Id }))
        {   <div>
            @Html.HttpMethodOverride(HttpVerbs.Put)
            @Html.HiddenFor(m => m.Id)
            </div>
            <div>
            @Html.Label("Title", "Title Product")
            @Html.EditorFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
            </div>
            <div>
            @Html.Label("Content", "Content Product")
            @Html.EditorFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(m => m.CreationDate)
            <div class="select-item">
                <label>Select category</label>
                @Html.DropDownListFor(m => m.CategoryId,
                     new SelectList(Model.Categories, "Value", "Text"),
                     "Select category", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
            </div>
            <button class="btn-edit" style="margin:40px" type="submit">Edit</button>
        }
    </div>
</body>
</html>
