@model GucciBazaar.Models.Product
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        @using (Html.BeginForm(actionName: "AddProduct", controllerName: "ShoppingCart", routeValues: new { userId = User.Identity.GetUserId(), productId = Model.Id }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Put)
            <input type="submit" value="Add To Cart" />
        }

        Reviews :
        @{int a = 0;}
        @foreach (var review in Model.Reviews)
        {
            @Html.Partial("Review", review)
            if (review.UserId == User.Identity.GetUserId()) { a = 1; }
        }
    </dl>
</div>
<p>
    @{ if (a == 0)
        {
            using (Html.BeginForm(actionName: "New", controllerName: "Review"))
            {
                <text>Title:</text>
                @Html.TextBox("Title", "", new { @class = "form-control" })
                <text>Rating:</text>
                <input type="number" name="Rating" min="1" max="5">
                <br />
                <text>Continut:</text>
                @Html.TextArea("Description", "", new { @class = "form-control" })

                @Html.Hidden("ProductId", Model.Id)
                @Html.Hidden("UserId", User.Identity.GetUserId())

                <input type="submit" value="Add Review" />
            }
        }
        <text>|</text>
    }



    @if (User.IsInRole("Administrator") || Model.UserId == User.Identity.GetUserId())
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        <text>|</text>
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        <text>|</text>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
