@model GucciBazaar.Models.ApplicationUser
@{
    ViewBag.Title = "Edit User";
}
@using Microsoft.AspNet.Identity;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="card">
        <div style="background-color:#cceeff;">
            <img class="person" src="https://www.pinclipart.com/picdir/big/52-528506_open-person-icon-png-clipart.png"/>
        </div>
        <div>
            <div class="panel-heading">Nume utilizator: @Model.UserName</div>
            <div class="panel-body">
                <i class="glyphicon glyphicon-envelope"></i> Email utilizator:
                <span class="label label-default">@Model.Email</span>
                <br /><br />
                @Html.HiddenFor(m => m.Id)

                @if (@Model.PhoneNumber != null)
                {
                    <i class="glyphicon glyphicon-phone"></i>@:Telefon utilizator:<span class="label label-default">@Model.PhoneNumber</span>
                }
            </div>
            <div style="display:flex">
                <div class="button_cont" align="center">
                    <a class="example_a" href="/Users/Edit/@Model.Id" target="_blank" rel="nofollow noopener">
                        Edit
                    </a>
                </div>
                @if (Model.Id != User.Identity.GetUserId())
                {
                    <div class="button_cont" align="center">
                        <a class="example_a" href="/Users/Delete/@Model.Id" target="_blank" rel="nofollow noopener">
                            Delete
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
